/* global */

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: bold;
}

* {
  margin: 0px;
  padding: 0px; 
  box-sizing: border-box;
  font-family: 'Jetbrains Mono';
  color: var(--grey200);
}

:root {

  --progress: 0%;

  /* colors */

  --grey950: #08070B;
  --grey900: #14131B;
  --grey850: #18171F;
  --grey800: #24232C;
  --grey700: #54535B;
  --grey600: #817D92;
  --grey200: #E6E5EA;
  --green200: #A4FFAF;
  --yellow300: #F8CD65;
  --orange400: #FB7C58;
  --red500: #F64A4A;
}




/* app */

h1 {
  color: var(--grey600);
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey900);

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.output {
  width: 33.75rem;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--grey800);
  font-family: 'Jetbrains Mono';
  color: var(--grey200);
  font-size: 2.5rem;
  padding: 19px 32px;
}

.selections {
  background-color: var(--grey800);
  width: 33.75rem;
  height: auto;
  margin-top: 1.5rem;
  padding: 2rem;
}

.length-display {
  display: flex;
  color: var(--grey200);
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.length-display p:last-of-type {
  color: var(--green200);
  font-size: 2rem;
}

.strength {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;
  margin-top: 2rem;
  background-color: var(--grey850);
}

.strength p {
  color: var(--grey600);
  font-size: 1.5rem;
}

.rating {
  display: flex;
  justify-content: space-evenly;
}

.rating p {
  color: var(--grey200);
  font-size: 1.5rem;
  margin-right: 8px;
}

span {
  border: 2px solid var(--grey200);
  width: 12px;
  height: 28px;
  margin-left: 8px;
}

.generate-button {
  width: 476px;
  background-color: var(--green200);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20.5px 0px;
  margin-top: 2rem;
}

.generate-button p {
  color: var(--grey800);
  font-size: 24px;
  margin-right: 24px;
}

.strengthActive {
  border: 2px solid var(--yellow300);
  background-color: var(--yellow300);

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* form elements */

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  margin-bottom: 1rem;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 28px;
  width: 28px;
  border-radius: 100%;
  background: var(--grey200);
}

input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, var(--green200) 0%, var(--green200) var(--progress), var(--grey850) var(--progress), var(--grey850) 100% ) 50%/100% 8px no-repeat;
  width: 100%;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 28px;
  width: 28px;
  border-radius: 100%;
  background: var(--grey200);
}

input[type="range"]::-moz-range-track {
  background: linear-gradient(var(--grey850)) 50%/100% 8px no-repeat;
  width: 100%;
}

.checkbox {
  position: relative;
}
label {
  color: var(--grey200);
  font-size: 1.5rem;
  margin-left: 1.5rem;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 1rem 0 0 0;
  width: 20px;
  height: 20px;
  border: 2px solid var(--grey200);
}

input[type="checkbox"]:checked {
  background-image: url(./assets/images/icon-check.svg);
  background-repeat: no-repeat;
  background-color: var(--green200);
  border: 2px solid var(--green200);

}

.checkIcon {

 display: none;
}





/* Mobile */

@media screen and (max-width: 593px) {

  body {
      height: 100vh;
      align-items: center;
  }

  .output {
    height: 4rem;
  }
  .output, .selections {

    width: 91.467vw;
    height: fit-content;
    padding: 1rem;
  }

  .output p {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  label {
    font-size: 1rem;
    line-height: 20px;
  }

  .checkbox {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }

  input[type="checkbox"] {
    margin: 0;
  }

  .strength p {
    font-size: 1rem;
  }

  .rating {
    align-items: center;
  }


  .generate-button {
    width: 82.933vw;
    padding: 18px 0;
  }

  .generate-button p {
    font-size: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (max-height: 675px) {

  body {
    height: fit-content;
    padding: 3rem 0;
  }
  
}